
@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
    height: 100;
    display: flex;
    font-size: 16px;
}


.left_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex: 0.4;
    background-image: url(evan-brockett-VPnUiSnXUSE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.right_side{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.odin_logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: norsebold;
    font-size: 10rem;
    color: white;
    position: absolute;
    width: 100%;
    overflow-wrap: break-word;
    top: 25%; 
}

.odin_logo span {
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
}

.odin_logo img {
    height:200px; 
    margin-right: 10px; 
}

.shoutout{
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 95%;
}
.top_text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex: 0.4;
    font-size: 2rem;
    padding: 50px;
}

.middle_text{
    flex: 0.2;
    padding: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
}


.bottom_text{
    padding: 50px;
    flex: 0.4;
    font-size: 1.5rem;
}

.bottom_text button{
    border: none;
    border-radius: 20px;
    width: 15%;
    height: auto;
    min-width: 150px;
    font-size: 1.5rem;
    color: white;
    background-color: #596D48;
    cursor: pointer;
    min-width: 15%;
    overflow: hidden;
}



a:visited{
    color: inherit;
}

.form_container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    width: 100%; 
    max-width: 600px; 
    padding: 30px;
    border-radius: 10px;
}

.form_row {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.form_row.information{
    margin-bottom: 20px;
}

.form_row span {
    display: inline-block; 
    font-weight: bold; 
    width: 45%; 
}


input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input :focus{
    border-color: blue;
}

.form_row :valid{
    border-color: green;

}

.form_row :invalid{
    border-color: red;
}